---
import Icon from "../Atoms/Icon.astro";
---

<div class="instructions">
  <Icon
    icon="arrow-right"
    color="var(--accent-regular)"
    size="1.6em"
    gradient
  />
  <code><slot /></code>
  <Icon icon="copy" color="var(--accent-regular)" size="1.6em" gradient />
</div>

<style>
  .instructions {
    /* width: 100%; */
    line-height: 1.6;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
</style>
