---
import Nav from "../components/Nav.astro";

export interface Props {
  title: string | undefined;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="background">
      <Nav />
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --bg-image-main: url("/assets/backgrounds/bg-main-light-800w.jpeg");
    --bg-gradient-size: calc(var(--bg-scale) * 100%);
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  body {
    margin: 0;
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .background {
    min-height: 100%;
    isolation: isolate;
    background: 
  	/*header2*/ var(--bg-image-main) top
      center/var(--bg-gradient-size) no-repeat;
  }
</style>
